.input-label {
    display: block;
    font-weight: 700;
    color: #37363c;
}

input {
    color: #37363c;
    border: 1px solid #37363c;
    border-radius: 0.9rem;
    padding: 0.4rem 2rem;
    background-color: #f9f7ed;
}
