$palette-giallo-chiaro: #FABA5C;
$palette-giallo-scuro: #F2A23A;
$palette-bianco-chiaro: #F9F7ED;
$palette-bianco-scuro: #E7E0D6;
$palette-marrone: #9F672E;
$palette-nero: #37363D ;
$palette-nero-placeholder: rgba(55, 54, 61, 0.45) ;